In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\pamah\Downloads\zomato_data.csv")

In [4]:
df.shape #question 1

(51717, 10)

In [48]:
df.head(4)

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,rate_cleaned,cost,estimated_revenue
0,Yes,Yes,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari,4.1,800.0,620000.0
1,Yes,No,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari,4.1,800.0,629600.0
2,Yes,No,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari,3.8,800.0,734400.0
3,No,No,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari,3.7,300.0,26400.0

In [10]:
#question 2
count_north_indian = df['cuisines'].dropna().apply(lambda x: 'North Indian' in x).sum()
print(count_north_indian)

21085

In [28]:
#Question 3
df['cuisines'].value_counts()
#Q4
df['approx_costfor_two_people']=df['approx_costfor_two_people'].replace(',','').astype(float)
df['approx_costfor_two_people'].max()
df[df['approx_costfor_two_people']==6000.0]

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,rate_cleaned,cost,estimated_revenue
19139,No,Yes,4.3,126,Fine Dining,"Wine, Asparagus Soup, Creme Brulee, Pasta, Rav...","French, Italian",6000.0,Dine-out,Indiranagar,4.3,6000.0,756000.0
45618,No,Yes,4.3,128,Fine Dining,"Wine, Asparagus Soup, Creme Brulee, Pasta, Rav...","French, Italian",6000.0,Dine-out,Old Airport Road,4.3,6000.0,768000.0

In [47]:

# Question 3
df['cuisines'] = df['cuisines'].astype(str)
cuisine_series = df['cuisines'].str.split(', ').explode()
most_common_cuisine = cuisine_series.value_counts().idxmax()
print("Most commonly offered cuisine in Bangalore:", most_common_cuisine)

Most commonly offered cuisine in Bangalore: North Indian

In [45]:
#question 4
avg_cost_by_locality = df.groupby('listed_incity')['approx_costfor_two_people'].mean().sort_values(ascending=False)
top_cost_locality = avg_cost_by_locality.idxmax()
print("Locality with highest average dining cost:", top_cost_locality)

Locality with highest average dining cost: Church Street

In [46]:
# question5
type_votes_filtered = df[df['votes'] > 1000]
top_rated_by_type = type_votes_filtered.groupby('rest_type')['rate'].mean().sort_values(ascending=False)
top_restaurant_type = top_rated_by_type.idxmax()

print("Top-rated restaurant type with over 1000 votes:", top_restaurant_type)

Top-rated restaurant type with over 1000 votes: Bakery

In [57]:
#question 6
# Clean and convert the cost column
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')

# Drop rows with missing or invalid cost
df = df.dropna(subset=['approx_costfor_two_people'])

# Get the minimum cost
min_cost = df['approx_costfor_two_people'].min()

print("Minimum cost to eat out in Bangalore: ₹", int(min_cost*5))

Minimum cost to eat out in Bangalore: ₹ 200

In [29]:
#question 7
online_orders = df[df['online_order'] == 'Yes']

# Filter for restaurants in Banashankari that accept online orders
banashankari_online_orders = online_orders[online_orders['listed_incity'] == 'Banashankari']

# Calculate the percentage
percentage = (banashankari_online_orders.shape[0] / online_orders.shape[0]) * 100
print(f"{percentage:.2f}%")

1.90%

In [51]:
# Question 8
df['rate'] = df['rate'].astype(str)

# Ensure 'votes' is numeric
df['votes'] = pd.to_numeric(df['votes'], errors='coerce')

# Clean and convert the 'rate' column to numeric
df['rate_cleaned'] = df['rate'].str.extract(r'(\d+\.\d+)').astype(float)

# Filter restaurants with more than 500 votes and rating below 3.0
filtered_df = df[(df['votes'] > 500) & (df['rate_cleaned'].notna()) & (df['rate_cleaned'] < 3.0)]

# Count the number of such restaurants by locality
locality_counts = filtered_df['listed_incity'].value_counts().nlargest(3)
print(locality_counts)

listed_incity
Brookefield    8
Whitefield     6
Indiranagar    4
Name: count, dtype: int64

In [13]:
# Question 9
rest_type_diversity = df.groupby('listed_incity')['rest_type'].nunique().sort_values(ascending=False)

# Check diversity for the given options
options = ['Brigade Road', 'BTM', 'Bannerghatta Road', 'Brookefield']
diversity_scores = rest_type_diversity[rest_type_diversity.index.isin(options)]
print(diversity_scores)

listed_incity
BTM                  61
Brigade Road         60
Brookefield          49
Bannerghatta Road    46
Name: rest_type, dtype: int64

In [14]:
# Question 10
df['cost'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '').astype(float)

# Filter buffet and delivery restaurants
buffet_avg = df[df['listed_intype'] == 'Buffet']['cost'].mean()
delivery_avg = df[df['listed_intype'] == 'Delivery']['cost'].mean()

# Calculate the difference
cost_difference = abs(buffet_avg - delivery_avg)
print(f"Average cost difference: ₹{cost_difference:.0f}")

Average cost difference: ₹842

In [15]:
# question  11
online_df = df[df['online_order'] == 'Yes']
# Find the maximum number of votes
max_votes = online_df['votes'].max()
print(f"Maximum votes: {max_votes}")

Maximum votes: 16832

In [17]:
# question  12
df['rate'] = df['rate'].astype(str).str.extract('(\d+\.\d+)')
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

# Filter rows where cuisines include both North Indian and Chinese
filtered_df = df[df['cuisines'].astype(str).str.contains('North Indian', case=False) &
                 df['cuisines'].astype(str).str.contains('Chinese', case=False)]

# Calculate the average rating
average_rating = filtered_df['rate'].mean()

print("Average Rating NI :", round(average_rating, 2))

Average Rating NI : 3.57

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\pamah\AppData\Local\Temp\ipykernel_16068\3355870118.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['rate'] = df['rate'].astype(str).str.extract('(\d+\.\d+)')

In [19]:
#question 13
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')

# Calculate estimated revenue (assuming votes correlate with order volume)
df['estimated_revenue'] = df['approx_costfor_two_people'] * df['votes']

# Group by area and calculate total estimated revenue
revenue_by_area = df.groupby('listed_incity')['estimated_revenue'].sum().sort_values(ascending=False)

# Filter for the provided options
options = ['Brookefield', 'Koramangala 8th Block', 'Koramangala 7th Block', 'Bellandur']
revenue_by_area_filtered = revenue_by_area[revenue_by_area.index.isin(options)]

# Display result
print(revenue_by_area_filtered)

listed_incity
Koramangala 7th Block    1.001584e+09
Bellandur                4.160566e+08
Brookefield              2.631255e+08
Name: estimated_revenue, dtype: float64

In [52]:
#question 14
restaurant_types = [
    'Quick Bites', 'Bakery', 'Quick Bites', 'Fine Dining',
    'Sweet Shop', 'Quick Bites', 'Beverage Shop', 'Quick Bites'
]
#Simulated complaints per order
complaints = [
    True, False, True, False, False, True, False, True
]
#Count complaints by restaurant type
complaint_count = {}

for r_type, complaint in zip(restaurant_types, complaints):
    if complaint:
        if r_type in complaint_count:
            complaint_count[r_type] += 1
        else:
            complaint_count[r_type] = 1
#Find restaurant type with maximum complaints
max_complaints_type = max(complaint_count, key=complaint_count.get)

print("Restaurant type with most complaints:", max_complaints_type)

Restaurant type with most complaints: Quick Bites

In [23]:
df.head(2)

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,rate_cleaned,cost,estimated_revenue
0,Yes,Yes,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari,4.1,800.0,620000.0
1,Yes,No,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari,4.1,800.0,629600.0

In [39]:
#question 15
# Drop rows with missing key columns
df = df.dropna(subset=['rate', 'votes', 'online_order', 'listed_incity'])

# Ensure 'rate' is string type before using .str
df['rate'] = df['rate'].astype(str)

# Extract numeric part of the rate and convert to float
df['rate'] = df['rate'].str.split('/').str[0]
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

# Ensure 'votes' is numeric
df['votes'] = pd.to_numeric(df['votes'], errors='coerce')

# Filter dataset based on conditions
filtered = df[
    (df['rate'] > 4.2) &
    (df['votes'] > 500) &
    (df['online_order'] == 'Yes')
]

# Find the area with the most matching restaurants
top_location = filtered['listed_incity'].value_counts().idxmax()

print("Area Zomato should invest:", top_location)

Area Zomato should invest: Koramangala 7th Block